html {
    background-color: #e7e6e6;
}
.ToDo {
    max-width: 1000px;
    min-width: 250px;
    margin: 0 auto;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #e62253;
    color: #fff;
    padding: 20px 0;
    border: 0px solid #e62253;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.input {
    display: flex; 
    width: 100%;
    padding: 0;
}

#input {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #0d0d8d;
    color: #fff;
}

#input:focus {
    outline: none;
}

#input::placeholder {
    color: #fff;
    padding: 0;
    margin: 0;
}

#add {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border: none;
    background-color: #33dd6c;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

p {
    text-align: center;
}

ul {
    width: inherit;
    padding: 0;
    margin: 0;
}

#nowUl:empty::after {
    content: "Нет задач";
    padding: 10px;
    margin: 0;
    display: block;
    text-align: center;
}

#doneUl:empty::after {
    content: "Нет выполненных задач";
    padding: 10px;
    margin: 0;
    display: block;
    text-align: center;
}

li {
    list-style: none;
    width: inherit;
    background-color: #050561;
    color: #fff;
    margin: 0;
    padding: 10px;
}

span {
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;   
}

#delete {
    width: 15px;
    height: 15px;
    border: none;
    background-color: #050561;
    color: #ff0000;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 0;
}

#delete:hover {
    box-shadow: 0 0 10px 0 #ff0000;

}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

input[type="checkbox"]::-webkit-check-indicator,
input[type="checkbox"]::-moz-check-indicator {
  display: none;
}

#check {
    width: 14px;
    height: 14px;
    border: 2px solid #33dd6c;
    float: right;
    margin: 0px 15px;
    padding: 0;
}

#check:hover {
    background-image: url("https://img.icons8.com/33dd6c/checkmark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#check:checked {
    background-image: url("https://img.icons8.com/33dd6c/checkmark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}